/*  your css code here. If applicable */


*{margin: 0;padding: 0;box-sizing: border-box;}

html,body{
    width: 100vw;
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}



.nav{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    padding: 0 20px;
    position: relative;
}


.nav-menu{
    display: flex ;
    gap: 25px;
}

.ham{
    display: none;
}

.ham i{
    font-size: 40px;
    cursor: pointer;
}

.primary-text{
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.secondary-text{
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.nav-sub{
    position: absolute;
    top: 100%;
    right: 0px;
    padding: 20px;
    background-color: blue;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 150px;
    border-bottom-left-radius : 15px;
     transform: translateX(110%);
    transition: all linear 0.5s;
}


@media screen and (max-width: 628px) {
.nav-menu{
    display: none;
}

.ham{
    display: block;
}

.show-hamburger-menu{
    transform: translateX(0);
}

}




@media screen and (max-width: 350px) {
.nav{
    padding: 0 8px;
}

    .primary-text{
        font-size: 26px;
    }

    .ham i{
        font-size: 30px;
    }

   
}